html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  background: #ddd; /* Testfarbe, sollte durch Tiles ersetzt werden */
}

/* Optional: Schrift & Theme */
body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}
